@import "../scss/settings/colors";
@import "../scss/settings/fonts";

.main-login {

  display: flex;
  flex-direction: column;
  align-items: center;
    h2{
    font-family: "Open Sans";
    font-size: 1.7rem;
    font-weight: normal;
    text-align: center;
    margin: 12rem 0 2rem 0;
  }
}

form {
    margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $font-base;
  font-size: 16px;
  padding: 2rem;

  

  .form-fieldss {
    padding: 2rem;
    width: 18rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    background-color: #F0F1F1;
    align-items: center;
  

    input {
      width: 250px;
      color: #F0F1F1;
      padding-top: 10px;
      background-color: inherit;
      border: none;
      border-bottom: 1px solid black;
      margin: 0 auto;
      outline: 0;
    }
  }
}



.form-buttons {
  margin-top: 2rem;
  width: 450px;
  display: flex;
  justify-content: space-between;
  border:none;

   button {
    cursor: pointer;
    font-size: 0.8rem;
    outline: 0;
    border: none;
    &:hover {
      border: 1px solid black;
    }
  }

  * {
    font-family: "Open Sans";
    background: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
   
  }
}

.empty-button {
  border: none;
}
.btn-reg {
    border: none;
}

.decoration {
  width: 260px;
  height: 30px;
  background-image: url("../assets/Decoration.svg");
  justify-content: center;
  
}